<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>About Us</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            
        }

        header {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 20px 0;
        }

        main {
            padding: 20px;
        }

        section {
            margin-bottom: 30px;
        }

        h1, h2 {
            color: #333;
        }

        .team{
            
            box-shadow: 0 1px 1px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.16), 0 8px 8px rgba(0,0,0,0.20);
        }

        .team-member {
            text-align: center;
            margin-bottom: 20px;
            background-color: white;
            transition: all 0.5s ease;
            width: 80vw;
            margin: 50px auto;
            box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -4px rgba(0,0,0,0.1);

        }

        .team-member:hover h3 {
            color:red;
        }

        .team-member:hover{
            scale:1.1;
            filter: brightness(1.3);
            
        }

        .team-member-details {
            padding: 20px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .team-member h3 {
            margin-top: 0;
        }

        .team-member img {
            width: 150px;
            border-radius: 50%;
            margin-bottom: 10px;
        }

        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px 0;
        }
        header .icons i,
header .icons a{
    cursor:pointer;
    margin: left 0.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color:black;
    border-radius:50%;
    background: #eee;

}
header .icons i:hover,
header .icons a:hover{
    color: #fff;
    background: orangered;
    transform: rotate(360deg);

}
header .icons #menu-bars{
    display: none;
}
        h1{
            text-align: center;
            color:forestgreen;
        }
        h2{
            text-align: center;
            color:forestgreen;
        }
        .hea
        {
            text-align: center;
            color:white;
        }
        #about
        {
            font-style: italic;
            box-shadow: 0 2px 1px rgba(0,0,0,0.09), 0 4px 2px rgba(0,0,0,0.09), 0 8px 4px rgba(0,0,0,0.09), 0 16px 8px rgba(0,0,0,0.09), 0 32px 16px rgba(0,0,0,0.09);
        margin-bottom: 50px;
        margin-top: 150px;
        background-color: white;
        border-radius: 10px;
        }
        
        
        .all
        {
            display: flex;
            flex-direction: column;
        }
        body {
            
            font-family: 'Roboto', 'Helvetica', sans-serif;
            /* background-color: rgb(239, 228, 209); */
            
        }
        
        .navbar{
            position: fixed; /* Make the navbar fixed */
            top: 0;
            left: 0;
            z-index: 1000;
            width: 100%; 
            background-color: #666;
        }
        .navbar nav
        {
            background-color: #666;
            width:100vw;
            height:100px;
            display: flex;
            color:white;
            /* flex-direction: row; */
            box-shadow: 0 1px 1px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.16), 0 8px 8px rgba(0,0,0,0.20);
            animation:sta 1s linear forwards;
            background-attachment: fixed;
        }
        
        @keyframes sta
        {
            0%
            {
                translate:0 -200px;
            }
        
            100%
            {
                translate:0 0;
            }
        }
        
        .navbar nav p {
            font-size: 5rem;
            margin:auto 0;
            margin-left: 60px;
            /* margin-bottom: 9.5rem;
            margin-top: 2.5rem; */
            color: yellow;
        
            background-color: #666;
            animation-name: par;
            animation-duration: 2s;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
            /* animation-delay: 2s; */
        }
        
        @keyframes par{
            0%
            {
                translate:-200px 0;
                opacity: 0;
                border-right: 10px solid black;
                border-bottom: 10px solid black;
            }
        
            50%{
                translate:-200px 0;
                opacity: 0;
                /* border-right: 10px solid black;
                border-bottom: 10px solid black; */
                border-left: 8px solid black;
                /* border-top: 10px solid black; */
            }
        
            99.999999999%
            {
                /* border-right: 10px solid black;
                border-bottom: 10px solid black; */
                border-left: 8px solid black;
                /* border-top: 10px solid black; */
            }
        
            100%
            {
                translate:0 0;
                opacity: 1;
            }
        }
        
        .navbar ul {
            color: black;
            
            list-style: none;
            display: flex;
            flex-direction: row;
            gap: 20px;
            padding: 0;
            margin:auto 0;
            margin-left: 80px;
            position: relative;
        }
        
        .navbar ul li
        {
            /* background-color: red; */
            width:100px;
            height:50px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 7.5%;
            color:white
        
            /* transition: all 0.1s; */
        }
        
        
        
        .navbar ul li:hover
        {
            /* background-color: red;
            width:100px;
            height:50px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 7.5%; */
             animation: ppp 0.5s linear forwards; 
        }
        
        @keyframes ppp
        {
            0%
            {
                background-color: white;
            }
        
            50%{
                background-color: #666;
                border-radius: 7.5%;
            }
        
            100%
            {
                background-color: #666;
                border-radius: 15%;
                scale:0.85;
            }
        }
        
        
        
        .navbar a {
            text-decoration: none;
            color: black;
            font-size: 18px;
            font-weight: bold;
            /* transition: color 0.5s; */
            color:white
        }
        h1{
            margin-top: 100px;
        }

        .team{
            margin-top: 100px;
        }
        

        

    </style>
    
</head>
<body>
    <div>
        <section class="navbar">
            <nav>
                <p>
                    Delish
                </p>
                <ul>
                    <li><a class="first" href="/main">Home </a></li>
                    <li><a class="second" href="/about_us">About Us</a></li>
                    <li><a class="third" href="/review">Reviews</a></li>
                    <li><a class="forth" href="/contact_us">Contact Us</a></li>
                </ul>
                <div id="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="./loginRest" class="fa fa-user"></a>
                </div>
            </nav>
        </section>
    
    <header>
        <!-- <h1 class="hea">About Us</h1> -->
    </header>
    <main>
        <!-- <section id="about">
            
            <p>Welcome to our cutting-edge food delivery and restaurant pre-booking web application, where we seamlessly blend modern web technologies with a hands-on approach to redefine your dining experience. Our platform is designed to provide you with unparalleled convenience, choice, and efficiency in the world of food delivery and restaurant reservations.</p>
        </section> -->
        
            
        <section class="team">
            
            <h2>Meet Our Team</h2>

            <div class="team-member">
                <div class="team-member-details">
                    <h3>John Michael</h3>
                    <p>Our versatile Full Stack Developer, brings proficiency in Node.js and MongoDB, crafting dynamic user interfaces and ensuring robust server-side programming. John Michael, specializing as a Back-End Developer, demonstrates expertise in PostgreSQL and Express.js, forming the backbone of our complex web applications with streamlined server-side processes.</p>
                </div>
            </div>
    
            <div class="team-member">
                <div class="team-member-details">
                    <h3>Tharun Karthik</h3>
                    <p>Specializing as a Back-End Developer, Tharun K is distinguished by his profound expertise with PostgreSQL. This choice of a sophisticated and dependable database system is integral to the backbone of our complex web applications. Tharun's proficiency with Express.js is a testament to his ability to facilitate streamlined and effective server-side processes.</p>
                </div>
            </div>
    
            <div class="team-member">
                <div class="team-member-details">
                    <h3>Manogna Shree D</h3>
                    <p>Manogna Shree D seamlessly blends her skills in back-end development with a nuanced flair for UI/UX design. Her proficiency with MySQL underscores her capacity for managing sturdy databases, while her finesse with HTML, CSS, and JavaScript is pivotal in creating user interfaces that are not only functional but also aesthetically engaging and intuitive.</p>
                </div>
            </div>
    
            <div class="team-member">
                <div class="team-member-details">
                    <h3>Rishika S</h3>
                    <p>Rishika S, an adept Front-End Developer, employs Angular's advanced features to develop well-structured and high-performing web applications. Her expertise in HTML, CSS, and JavaScript is foundational in her ability to engineer robust and maintainable user interfaces, ensuring a seamless and interactive user experience.</p>
                </div>
            </div>
    
            <div class="team-member">
                <div class="team-member-details">
                    <h3>GSK Karthikeya</h3>
                    <p>As a Front-End Developer with a keen eye for design, Karthikeya excels in developing interactive and responsive web interfaces. His extensive knowledge of HTML, CSS, and JavaScript enables him to create web experiences that are not only visually striking but also intuitive and user-centric, ensuring a seamless interface between the user and the digital world.</p>
                </div>
            </div>
            
    
        </section>
        
    </div>
    </main>
    <footer>
        <p>&copy; 2024 Delish. All rights reserved.</p>
    </footer>
</body>
</html>
